# Binaries for programs and plugins
*.mov
*.exe
*.exe~
*.dll
*.so
*.dylib
*.gif
*.mp4

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.env*
.DS_Store
*/vendor/*
vendor/*

config.json

tmp/*
bin/*

# bashbot