awscli 2.3.0
bat 0.18.3
gcloud 361.0.0
helm 3.7.1
kubectl 1.22.2
kubectx 0.9.4
kustomize 4.4.0
rclone 1.56.2
shellcheck 0.7.2
shfmt 3.4.0
sops 3.7.1
terraform 0.12.30
terraform latest
tflint 0.33.0
yq 4.13.5
