awscli 2.4.21
bat 0.20.0
gcloud 374.0.0
helm 3.8.0
kubectl 1.23.4
kubectx 0.9.4
kustomize 4.5.2
rclone 1.57.0
shellcheck 0.8.0
shfmt 3.4.3
sops 3.7.1
terraform 0.12.30
terraform latest
tflint 0.34.1
yq 4.9.8
