awscli 2.2.39
bat 0.18.3
gcloud 357.0.0
helm 3.7.0
kubectl 1.22.2
kubectx 0.9.4
kustomize 4.3.0
rclone 1.56.1
shellcheck 0.7.2
shfmt 3.3.1
sops 3.7.1
terraform 0.12.30
terraform latest
tflint 0.32.1
yq 4.12.1
